* {
    color: azure;
}

body {
    min-height: 100vh;
}

.col-right,
.col-left {
    min-height: 80vh;
}

#img-logo {
    clip-path: circle(42%);
    filter: saturate(55%);
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

.container-logo {
    max-width: 75%;
}

.animation img {
    animation: floatAnimation 5s ease-in-out infinite;
}

.btn {
    min-width: 35%;
    color: white;
}

.btn:hover {
    background-color: rgb(255, 74, 74) !important;
    box-shadow: 0px 0px 0.5px .7px white;
}

.main {
    height: 100vh;
}



@media (max-width: 992px) {

    * {
        font-size: small;
        padding: 5px;
    }

    img {
        width: 35vb;
    }

    .col-left {
        margin-top: -15px;
    }

}

footer p {
    opacity: .5;
    font-size: x-small;
}

#linkLinked {
    font-size: x-small;
}


.custom-shape-divider-bottom-1698760107 {
    position: absolute;
    top: -38px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698760107 svg {
    position: relative;
    display: block;
    width: calc(100% + 25px);
    height: 39px;
}

.custom-shape-divider-bottom-1698760107 .shape-fill {
    fill: #FFFFFF;
}




#img-screenshot {
    box-shadow: 5px  0px  15px 2px  rgba(0, 0, 0, 0.679);
    max-width: 65vh;
}

.img-logo {
    width: 80%;
    opacity: .9;
    filter: drop-shadow(0 0 5rem rgb(20, 220, 217));
    
}

.animation img {
    animation: floatAnimation 5s ease-in-out infinite;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

.main-content {
    background-color: rgba(0, 0, 0, 0.9);
}


.custom-shape-divider-bottom-1698760107 {
    position: absolute;
    top: -38px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698760107 svg {
    position: relative;
    display: block;
    width: calc(100% + 25px);
    height: 39px;
}

.custom-shape-divider-bottom-1698760107 .shape-fill {
    fill: #FFFFFF;
}

.second-section {
    position: relative;
    padding-top: 150px;
    background-color: white !important;
    color: black !important;
}


#img-screenshot {
    box-shadow: 5px 0px 15px 2px rgba(0, 0, 0, 0.679);
    border-radius: 8px;
    width: 100%;
}